<main class="page-category">
    @*<header class="page-cover" style="background-image: url('/embedded/lib/img/header.jpg')">
        <h2 class="page-cover-title"></h2>
        <p class="page-cover-desc">Category</p>
    </header>*@
    <div class="page-content">
        <div class="container">
           This is new page content.
        </div>
    </div>
</main>